.container {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}
.heading {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 20px;
}
.friend {
    width: 100%;
    height: 60px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button {
    width: 40px;
    height: 20px;

}