.container {
    display: flex;
    height: 80px;
    background-color: white;
    padding: 5px 10px;
    margin-bottom:15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: space-between;
}
.left {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 60px;
    height: 60px;

}
.right{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile > img{
    width: 40px;
    height: 40px;
}
.burger {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}
.burgerImg {
    width: 40px;
    aspect-ratio: 1;
}
.menu {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
    border-radius: 8px;
}
.menu > h2 {
    font-size: 1.5rem;
}
.menu > img {
    position:absolute;
    top: 20px;
    left: 10px;
}
.menu > ul {
    width: 40%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu > ul > a {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    text-align: center;
    border: 1px solid black;
    display: grid;
    place-content: center;
    font-weight: normal;
    
}

@keyframes open {
    from {
        width: 40px;
        height: 40px;
        border-radius:50%;
    }
    to {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}


@media (max-width:986px) {
    .left {
        display: flex;
        justify-content: center;
    }
    .profile {
        font-size: 14px;
    }
    .left > h2 {
        font-size: 18px;
    }
    .container {
        position:sticky;
        top: 0;
        left: 0;
    }
}