.container {
    display: flex;
    height: 80px;
    background-color: white;
    padding: 5px 10px;
    margin-bottom:15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.left {
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 60px;
    height: 60px;

}
.right{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile > img{
    width: 40px;
    height: 40px;
}